<h1>文章列表</h1>
<div class="clearfix">
  <blockquote>
    <p>
       说明：文章均为抓取
    </p>
  </blockquote>
  
  <div class="col-md-10">
  <%= link_to '同步文章', snyc_article_articles_path ,class:"btn btn-default"%>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-1 text-center">序号</th>
        <th class="text-center">标题</th>
        <th class="col-md-2 text-center">栏目</th>
        <th class="col-md-3 text-center">操作</th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each_with_index do |article,index| %>
        <tr>
          <td class="text-center"><%= index + 1%></td>
          <td><%= link_to_blank article.title , article.article_url %></td>
          <td class="text-center"><%= article.source_category_name %></td>
          <td class="text-center">
            <div class="btn-group">
              <%= link_to '查看', article_path(article, :back => request.fullpath) ,class:"btn btn-default"%>
              <%= link_to '修改', edit_article_path(article,:back => request.fullpath),class:"btn btn-default"%>
              <%= link_to '删除', article, method: :delete, data: { confirm: '确定删除？' } ,class:"btn btn-default"%>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
    <%= paginate @articles %>
  </table>
  </div>
</div>