<h1><%= @article.title%></h1>
<%= link_to '返回', params[:back] || articles_path ,class:"btn btn-default" %>
<div class="clearfix">
  <blockquote>
    <p>
       摘要：<%= @article.tabloid%>
    </p>
  </blockquote>
  <blockquote>
    <p>
       栏目：<%= @article.try(:article_category).try(:name)%>
    </p>
    <p>
       作者：<%= @article.author_name%>
    </p>
    <p>
      发布时间：<%= @article.submited_at.strftime("%Y-%m-%d %H:%M:%S")%>
    </p>
  </blockquote>
  <blockquote>
    <p>
       备注：<%= @article.desc.html_safe%>
    </p>
  </blockquote>
  <%#= link_to '规则列表', site_rules_path %>
  <div class="col-md-offset-2 col-md-8">
    <%= @article.content.html_safe %>
  </div>
  
</div>