<div class="clearfix raw">
  <%= form_for(@site_rule) do |f| %>
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.label :site_id, "站点名称" %>
        <%= select_tag "site_rule[site_id]", options_for_select(Site.all.map{|site| [site.site_name,site.id]}),:class => "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :rule_name, "规则名词"%>
        <%= f.text_field :rule_name,:class => "form-control" %>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">规则字段</th>
            <th class="text-center">Search查询</th>
            <th class="text-center">CSS查询</th>
            <th class="text-center">正则查询</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-right">内容图片抓取</th>
            <td>
              <%= text_field_tag "images[search]",(@site_rule.images[:search] rescue '') ,:class => "form-control"%>
            </td>
            <td>
              <%= text_field_tag "images[css]",(@site_rule.images[:css]  rescue ''),:class => "form-control"%>
            </td>
            <td></td>
          </tr>
          <tr>
            <th class="text-right">搜索结果链接</th>
            <td>
              <%= text_field_tag "links[search]",(@site_rule.links[:search] rescue '') ,:class => "form-control"%>
            </td>
            <td>
              <%= text_field_tag "links[css]",(@site_rule.links[:css]  rescue ''),:class => "form-control"%>
            </td>
            <td>
              <%= text_field_tag "links[key]",(@site_rule.links[:key]  rescue ''),:class => "form-control"%>
            </td>
          </tr>
          <% Article.inspect.scan(/ ([a-z|_]*):/).flatten.each do |rule_col|%>
            <tr>
                <th class="text-right"><%= rule_col%></th>
                <td>
                  <%= text_field_tag "rule_value[#{rule_col}][search]",(@site_rule.rule_value[rule_col][:search] rescue '') ,:class => "form-control"%>
                </td>
                <td>
                  <%= text_field_tag "rule_value[#{rule_col}][css]",(@site_rule.rule_value[rule_col][:css]  rescue ''),:class => "form-control"%>
                </td>
                <td>
                  <%= text_field_tag "rule_value[#{rule_col}][key]",(@site_rule.rule_value[rule_col][:key]  rescue ''),:class => "form-control"%>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= f.submit "#{@site_rule.new_record? ? '创建' : '保存'}",class:"btn btn-default"%>
      <%= link_to '返回', site_rules_path ,class:"btn btn-default" %>
    </div>
  <% end %>
</div>