<h1>查看站点信息</h1>
<%= link_to '修改', edit_site_rule_path(@site_rule),class:"btn btn-default" %>
<%= link_to '返回', site_rules_path,class:"btn btn-default" %>
<blockquote>
  <p>
    <strong>站点名称:</strong>
    <%= @site_rule.try(:site_name) %>
  </p>
</blockquote>
<blockquote>
  <p>
    <strong>规则名称:</strong>
    <%= @site_rule.rule_name %>
  </p>
</blockquote>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center col-sm-2">规则字段</th>
      <th class="text-center col-sm-3">Search查询</th>
      <th class="text-center col-sm-3">CSS查询</th>
      <th class="text-center col-sm-3">正则查询</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-right">内容图片抓取</th>
      <td>
        <%= @site_rule.images[:search]%>
      </td>
      <td>
        <%= @site_rule.images[:css]%>
      </td>
      <td>
        <%= @site_rule.images[:key]%>
      </td>
    </tr>
    <tr>
      <th class="text-right">搜索结果链接</th>
      <td>
        <%= @site_rule.links[:search]%>
      </td>
      <td>
        <%= @site_rule.links[:css]%>
      </td>
      <td>
        <%= @site_rule.links[:key]%>
      </td>
    </tr>
    <% @site_rule.rule_value && Article.inspect.scan(/ ([a-z|_]*):/).flatten.each do |rule_col|%>
      <tr>
          <th class="text-right"><%= rule_col%></th>
          <% if @site_rule.rule_value.present? && @site_rule.rule_value[rule_col].present?%>
          <td>
            <%= @site_rule.rule_value[rule_col][:search]%>
          </td>
          <td>
            <%= @site_rule.rule_value[rule_col][:css]%>
          </td>
          <td>
            <%= @site_rule.rule_value[rule_col][:key]%>
          </td>
          <% else %>
            <td colspan="3"></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>