<div class="clearfix raw">
  <div class="col-md-10">
    <%= form_for(@article_category) do |f| %>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="col-md-1 text-right">
              栏目名称
            </th>
            <td class="col-md-8">
              <%= f.text_field :name ,class: "col-md-8 form-control"%>
            </td>
          </tr>
          <tr>
            <th class="col-md-1 text-right">
              原网站栏目
            </th>
            <td class="col-md-8">
              <%= f.text_field :desc ,class: "col-md-8 form-control"%>
            </td>
          </tr>
          <tr>
            <th class="col-md-1 text-right">
              位置
            </th>
            <td class="col-md-8">
              <%= f.number_field :position ,class: "col-md-8 form-control"%>
            </td>
          </tr>

        </tbody>
      </table>
      <div class="text-center">
        <%= f.submit "#{@article_category.new_record? ? '创建' : '保存'}",class:"btn btn-default"%>
        <%= link_to '返回', params[:back] || article_categorys_path ,class:"btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
